body,html{
    width: 213px;
    height: 80px;
    position: relative;
    vertical-align:middle;
}

.navbutton{
    width: 25px;
    height: 25px;
    margin: 0px;
    border-top-color: white;
    border-left-color: white;
    margin-top: 3px;
    background-color: #c3c3c3;
}

#navbuttonclose{
    width: 25px;
    height: 25px;
    margin: 0px;
    border-top-color: white;
    border-left-color: white;
    margin-top: 3px;
    background-color: #c3c3c3;
}

.material-symbols-outlined{
    font-size: 18px;
    position: relative;
    left: -8px;
    top: -2px;
    padding: 0px;
}

#extension{
    position: absolute;
    top: -9px;
    left: -9px;
    width: 205px;
    height: 80px;
    border: 5px solid;
    border-right-color: #818181;
    border-bottom-color: #818181;
    border-top-color: white;
    border-left-color: white;
    background-color: #c3c3c3;
    margin: 0px;
}

#nav{
    height: 30px;
    width: 100%;
    background-image: linear-gradient(to right, #010081, #5273AD);
    color: white;
    display: flex;
    flex-direction: row;
}

h1{
    text-align: left;
    font-size: 18px;
    margin: 0px;
    position: relative;
    padding: 5px;
    flex-grow: 1;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 100;
}

#switchText{
    color: #222222;
    margin: 0;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 100;
    font-size: 18px;
    padding: 5px;
}
 
.selection{
    display: flex;
    flex-direction: row;
}


.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 20px;
    top: 10px;
  }
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #818181;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 2px;
    bottom: 1.5px;
    background-color: #c3c3c3;
    -webkit-transition: .4s;
    transition: .4s;
}

#slider.round {
    border-radius: 34px;
}
  
#slider.round:before {
    border-radius: 50%;
}

input:checked + slider {
    background-color: white;
  }
  
input:focus + slider {
    box-shadow: 0 0 1px #818181;
}
  
input:checked + slider:before {
    -webkit-transform: translateX(9px);
    -ms-transform: translateX(9px);
    transform: translateX(9px);
}